* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $primaryColor;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background: $bgElements;
    @include flex(flex-start, center, 0, row);

    & img {
        height: $logoH;
        padding-left: 200px;
        padding-right: 40px;
        margin-top: 10px;
    }

    & select {
        background-color: lighten($bgElements, 8);
        color: $colorWhite;
        border: 4px solid $primaryColor;
        border-radius: 6px;
        padding: 6px;

    }

}

.container {
    width: $ctnWidth;
    margin: 0 auto;
    height: 100%;
}